 *{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 .add{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background: #35553c;
 }

 .add *{
  margin: 0.3em;
 }

 .add button{
  width: 50%;
 }